@font-face {
    font-family: "Quicksand";
    src: url('../../../Assets/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: "Jost";
    src: url('../../../Assets/fonts/Jost-VariableFont_wght.ttf') format('truetype');
}

.HomeWelcome {
    margin: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 3px;    
    margin-bottom: 16px;

    @media (min-width: 576px) {
        flex-wrap: nowrap;
    }
}

.HomeWelcomeLeft {
    display: flex;    
    flex-direction: column;  
    justify-content: center;    
    align-items: center;
    flex-grow: 1;
    width: 100%;
    font-family: "Quicksand";
    
    background: white;

    height: 200px;
    padding: 10px;
    border-radius: 5px; 

    & > .header {    
        text-align: center;        
        font-size: 32px;
        line-height: 1.2;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: #bec63e;    
    }

    & > .caption {
        padding-top: 5px;
        margin: 0;
        font-size: 19px;
        font-weight: 500;
        color: #323232;
    }
}

.HomeWelcomeRight {
    display: flex;    
    flex-direction: column;    
    justify-content: center;
    align-items: center;    
    width: 100%;

    & > img {
        width: 150px;
    }

    @media (min-width: 576px) {
        margin-left: 16px;
        border-radius: 5px;
    }

}

.prompt1{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;    
    align-items: center;
    font-size: 32px;
    font-family: "Jost";
    font-weight: 300;
    color: white;
    background: url("../../../Assets/yoga.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 16px;
    

    & > .headline {
        text-align: center;
        padding-left: 8px;
        padding-right: 8px;
        @media (min-width: 576px) {
            padding-left: 32px;
            padding-right: 32px;
        }
    }
    &:hover {
        color: whitesmoke;
        text-decoration: none;
    }

    @media (min-width: 576px) {
        padding: 50px;
        box-shadow: 0 1px 4px 0 #00000040 !important;
        border-radius: 5px; 
    }
}

.prompt2{
    margin-top: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;    
    align-items: center;
    font-size: 32px;
    font-family: "Jost";
    font-weight: 300;
    color: white;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 16px;
    background: url("../../../Assets/psicologo.jpg") no-repeat center center fixed;
    @media (min-width: 576px) {
        padding: 60px;
        box-shadow: 0 1px 4px 0 #00000040 !important;
        border-radius: 5px; 
        margin-top: 16px;
    }
}

.prompt3{
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;    
    align-items: center;
    
    @media (min-width: 576px) {
        border-radius: 5px; 
        margin-top: 8px;
    }
}

.cell{
    flex: 1 1 200px;   
    height: 100px;  
    display: flex;    
    justify-self: center;
    justify-items: center;
    justify-content: center;    
    align-self: center;
    align-items: center;
    align-content: center;
    font-size: 18px;
    font-family: "Lato";
    text-align: left;
    padding: 8px;
    border-top-color: white;
    border-top-style: solid;
    border-top-width: 2px;

    @media (min-width: 576px) {
        font-size: 24px;
        text-align: center;
        border-radius: 5px;
        height: 250px;
        border-color: white;
        border-style: solid;
        border-width: 2px;
    }
}

.prompt4 {
    display: flex;    
    flex-direction: column;    
    justify-content: center;
    align-items: center;    
    width: 100%;

    & > img {
        width: 150px;
    }

    @media (min-width: 576px) {
        margin-left: 16px;
        border-radius: 5px;
    }

}

.prompt5{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;    
    align-items: center;
    font-size: 32px;
    font-family: "Jost";
    font-weight: 300;
    color: #323232;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 16px;
    background-color: #f5f5f5;
    @media (min-width: 576px) {
        padding: 10px;
        box-shadow: 0 1px 4px 0 #00000040 !important;
        border-radius: 5px; 
        margin-top: 16px;
    }
}